# --------------------------------------------------
# PostgreSQL warehouse
# --------------------------------------------------
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=nyc_taxi
POSTGRES_USER=nyc_taxi
POSTGRES_PASSWORD=nyc_taxi_password

# --------------------------------------------------
# Airflow metadata PostgreSQL
# --------------------------------------------------
AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_password

# Airflow container user
AIRFLOW_UID=50000

# --------------------------------------------------
# Application
# --------------------------------------------------
ENVIRONMENT=local

# --------------------------------------------------
# NYC TLC source data
# --------------------------------------------------
TLC_DATA_DIR=data/raw
